---
# For more information, see:
# https://docs.github.com/en/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:
    # Maintain dependencies for GitHub Actions
    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'weekly'
      commit-message:
          prefix: 'chore'
          include: 'scope'
      labels:
          - 'dependencies'
          - 'scope: build-ci'

    # Maintain dependencies for Cargo (Rust)
    - package-ecosystem: 'cargo'
      directory: '/'
      schedule:
          interval: 'weekly'
      commit-message:
          prefix: 'chore'
          include: 'scope'
      labels:
          - 'dependencies'
          - 'scope: ui'

    # Maintain dependencies for npm (pnpm) across the monorepo
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'weekly'
      commit-message:
          prefix: 'chore'
          include: 'scope'
      labels:
          - 'dependencies'
          - 'scope: ui'
      groups:
          # Group all npm dependencies into a single PR
          all-npm-dependencies:
              patterns:
                  - '*'

    # Maintain dependencies for Git submodules
    - package-ecosystem: 'gitsubmodule'
      directory: '/'
      schedule:
          interval: 'weekly'
      commit-message:
          prefix: 'chore'
          include: 'scope'
      labels:
          - 'dependencies'
          - 'scope: core-simulator'
      groups:
          # Group all submodules into a single PR
          all-submodules:
              patterns:
                  - '*'
