Source: fers
Section: electronics
Priority: optional
Maintainer: Marc Brooker <mbrooker@rrsg.ee.uct.ac.za>
Build-Depends: debhelper (>= 5), autotools-dev
Standards-Version: 3.7.2

Package: fers
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: The Flexible Extensible Radar Simulator
 FERS is a simulator, currently under development, for monostatic and multi-
 static radar systems. It supports both pulsed and continuous wave operation.
 FERS is neither feature complete or tested. It is getting there, however.
